@model FlightProject.Models.AirportM

@{
    ViewData["Title"] = "AddAirports";
}

<h2>Add Airports</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAirports">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AirportName" class="control-label"></label>
                <input asp-for="AirportName" class="form-control" />
                <span asp-validation-for="AirportName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
